
.Welcome {
    font-family: Arial, Times, serif;
    padding: 100px;
    margin-top: 10%;
    background-color: black;
    
}

/* Old code */
/* .Welcome .welcomebtn{
    font-family: Arial, Times, serif;
    font-size: xx-large;
    border: 3px solid rgb(0, 0, 0);
    cursor: pointer;

    padding: 20px 10px;
    margin-top: 15%;
    display: flex;
    gap: 600px;
    background-color: black;
    
    
}
 

<!--Button-->
.Welcome .btn-secondary{
    background-color: #999999;
    color: white;
    text-align: center;


}
.Welcome .btn-primary{
    background-color: #461d7c;
    color: white;
    text-align: center;

}
<!--Hover-->
.Welcome .btn-secondary:hover{
    background-color: #999999;
    color: white;
    text-align: center;
    border: 3px solid #999999;
    opacity: 0.5;
}

.Welcome .btn-primary:hover{
    background-color: #461d7c;
    color:white;
    text-align: center;
    opacity: 0.5;
    
}

<!--Active-->
.Welcome .btn-secondary:active{
    background-color: #999999;
    color: white;
    text-align: center;
    border: 3px solid #999999;
}

.Welcome .btn-primary:active{
    background-color: #461d7c;
    color: white;
    height: 55px;
    width: 160px;
    text-align: center;
    border: 3px solid #461d7c;
}
<!Major-->
.Major {
    
  width: 200px;
  height: 150px;
  overflow-y: auto;
}

.Major a {
  background-color: #eee;
  color: black;
  display: block;
  padding: 12px;
  text-decoration: none;
}

.Major a:hover {
  background-color: #FDD023;
}

.Major a.active {
  background-color: #FDD023;
  color: white;

}
<!Minor-->
.Minor{
    
  width: 200px;
  height: 150px;
  overflow-y: auto;
}

.Minor a {
  background-color: #eee;
  color: black;
  display: block;
  padding: 12px;
  text-decoration: none;
}

.Minor a:hover {
  background-color: #FDD023;
}

.Minor a.active {
  background-color: #FDD023;
  color: white;

} */