
.Welcome {
    font-family: Arial, Times, serif;
    padding: 100px;
    margin-top: 10%;
    /* background-color: rgb(117, 117, 117); */
    
}


.Welcome .title{
    text-align: center;
    
}

/* to costumize buttons, use the name of the tag which is <button> not the name of the class*/
.Welcome button{
   border-radius: 12px;
  border: none;
  text-decoration: none;
  padding: 10px 15px;
  margin-top: 5px;
  margin: 20px;
  font-size: 20px;
  color:white;
    
}

.Welcome .welcomebtn .btn-secondary{
   float: left;
   background-color: #FDD023;
  
}

.Welcome .welcomebtn .btn-primary{
   float: right;
   background-color: #461D7C;
  
}

.Welcome .btn-secondary:hover{
   background-color: #e0b31e;
    
}

.Welcome .btn-primary:hover{
   background-color: #230e3f;
    
}


/* Old code */
/* .Welcome .welcomebtn{
    font-family: Arial, Times, serif;
    font-size: xx-large;
    border: 3px solid rgb(0, 0, 0);
    cursor: pointer;

    padding: 20px 10px;
    margin-top: 15%;
    display: flex;
    gap: 600px;
    background-color: Black;
    
    
    text-align: center;
    
    
}
 

/*--Button--*/
.Welcome .btn-secondary{
    background-color: #999999;
    color: white;
    text-align: center;


}
.Welcome .btn-primary{
    background-color: #461d7c;
    color: white;
    text-align: center;
    

}
/*--Hover--*/
.Welcome .btn-secondary:hover{
    background-color:  #999999;
    color: white;
    text-align: center;
    border: 3px solid #999999;
    opacity: 0.5;
}

.Welcome .btn-primary:hover{
    background-color: #461d7c;
    color:white;
    text-align: center;
    border" : 3px solid #461d7c;
    opacity: 0.5;
    
}

/*--Active--*/
.Welcome .btn-secondary:active{
    background-color: #999999;
    color: white;
    text-align: center;
    border: 3px solid #999999;
}

.Welcome .btn-primary:active{
    background-color: #461d7c;
    color: white;
    height: 55px;
    width: 160px;
    text-align: center;
    border: 3px solid #461d7c;
}
/*--Major--*/
.Major {
  
  width: 200px;
  height: 150px;
  overflow-y: auto;
}

.Major a {
  background-color: #eee;
  color: black;
  display: block;
  padding: 12px;
  text-decoration: none;
}

.Major a:hover {
  background-color: #FDD023;
}

.Major a.active {
  background-color: #FDD023;
  color: white;

}
/*--Minor--*/
.Minor{
    
  width: 200px;
  height: 150px;
  overflow-y: auto;
}

.Minor a {
  background-color: #eee;
  color: black;
  display: block;
  padding: 12px;
  text-decoration: none;
}

.Minor a:hover {
  background-color: #FDD023;
}

.Minor a.active {
  background-color: #FDD023;
  color: white;

} */