/* This will be the Global CSS File. Anything that will need to be consist between ALL pages will be put here. 
    Anything else create your own CSS file and link it in the HTML file.
    Of course first test it in your own file, but once you are sure it works, put it here. */

/* Style the header with a grey background and some padding */
.header {
  position: fixed;
  z-index: 1;
  width: 100%;
  top: 0;
  overflow: hidden;
  background-color: #461D7C;
  padding: 20px 10px;
  transition: 0.4s;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 900;
  /* Transition effect when sliding down (and up) */
}

/* Style the header links */
.header a {
  float: left;
  color: #FDD023;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 15px;
  line-height: 25px;
  border-radius: 4px;
}

.header-right {
  float: right;
}

.header-right a {
  float: right;
  color: #999999;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  font-size: 15px;
  line-height: 25px;
  border-radius: 4px;
}

/* Style the title link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
.header #title {
  font-size: 25px;
  line-height: 25px;
  transition: 0.4s;
}

/* Change the background color on mouse-over */
.header a:hover {
  color: #FDD023;
}

.header #title:hover {
  text-decoration: underline;
}

#navbar {
  background-color: #faf5ff;
  /* Black background color */
  position: fixed;
  /* Make it stick/fixed */
  margin-top: 85px;
  top: 0;
  /* Stay on top */
  width: 100%;
  /* Full width */
  transition: 0.5s;
  /* Transition effect when sliding down (and up) */

  box-shadow: 0px 10px 10px #00000033;

}

/* Style the navbar links */
#navbar a {
  float: left;
  display: block;
  color: #461D7C;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  width: 25%;
  text-align: center;
  padding: 15px;
  text-decoration: none;
}

#navbar a:hover {
  background-color: #D6C9E3;
}

.content1 {
  margin-top: 85px;
  padding: 125px;
  text-align: center;
  align-self: center;
  font-family: Arial, Helvetica, sans-serif;
  background-image: linear-gradient(to bottom right, #461D7C, #5a2c96);
}

.content1 h1,
.content1 h2 {
  font-weight: 900;
}

.content1 h2 {
  text-align: center;
  align-self: center;
  font-size: 50px;
  color: #faf5ff;
  text-shadow: 0px 10px 10px #00000033;
}

.content1 p {
  font-weight: 7250;
  white-space: pre;
  margin-top: 50px;
}


.content1 button {
  border-radius: 12px;
  border: none;
  text-decoration: none;
  padding: 5px 15px;
  margin: 5px;
  font-size: 15px;
  color: #461D7C;
}

.content1 button:hover {
  background-color: #FDD023;
  color: #faf5ff;
}


/* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
@media screen and (max-width: 500px) {
  #navbar {
    padding: 20px 10px !important;
    /* Use !important to make sure that JavaScript doesn't override the padding on small screens */
  }

  .header a {
    float: none;
    display: block;
    text-align: left;
  }

  .header-right {
    float: none;
  }
}